<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swifton.swifton">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <data
                    android:host="www.swifton.com"
                    android:pathPrefix="/swifton"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data
                    android:host="swifton"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ToolBars.CollapsingToolbarTabs" />
        <activity android:name=".ToolBars.CollapsingToolbarFabs" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ToolBars.ToolbarAndFab" />
        <activity android:name=".ToolBars.ToolbarTabs" />
        <activity android:name=".UserDashboardActivity" />
        <activity android:name=".JustTest" />
        <activity android:name=".BuyActivity" />
        <activity android:name=".DesignersDashboardActivity" />
        <activity android:name=".DesignersProfileActivity"></activity>
    </application>

</manifest>